<!DOCTYPE html>
<% if(locals.loggedin!=null) { %>
<html lang="en" style="height:100%;background: rgba(1,109,135,1);">
<% } else { %>
<html lang="en">
<% } %>    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Librarian's record system</title>
</head>

    <body>    
        <% if(locals.loggedin==null) { %>
        <%- include('../partials/header.ejs') %>
        <% } %>
        <%- body %>
    </body>




<style>

select{
   border: 2px solid #adadad;
   border-radius: 6px;
   width: 100%;
   padding: 2px 3px;
   margin: 8px 0;
   box-sizing: border-box;
}

input{
   border: 2px solid #adadad;
   border-radius: 6px;
   width: 100%;
   padding: 2px 3px;
   margin: 8px 0;
   box-sizing: border-box;
}


button
{
    margin-top: 0.7em;
    background-color: rgba(0,136,169,1);
    color:#fff;
    padding:9px 25px;    
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

button:hover
{
    background-color: rgba(0,136,169,0.8);
}    

hr {    
    display: block;
    height: 15px;
    border: 0;
    border-bottom: 1px solid #717171;
    /*margin: 1.7em 0;*/
    margin-top: 1em;
    margin-bottom: 3em;
    padding: 0;
}    

.page{
    margin-top: 3.4em;
}    

*{
    margin:0;
    padding:0;
    box-sizing: border-box;   
}

nav{
    height: 10vh;
    background: rgba(1,109,135,0.8)/*#5b78c7*/;    
}

#mainpage-containor{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;       
}

#mainpage-link{ 
    color: #fff;
    text-decoration: none;   
    height: 42px;
    width: 300px;
    display: flex;
    align-items: center;
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 2%;    
    z-index: 2;  
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;   
}

.nav-links li a{    
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li:hover{   
    background: #08667c; 
    padding: 16px;
    border-radius: 17px;
    transition: all 0.3s ease-in-out;
}

.postbackground{    
    background-color: #fff;
}

.formclass{
    width: 50%;
}


/* general classes */

#deleteandupdate{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    box-shadow: 2px 3px #888888;
    border-width:1px;
    border-style:solid;
    border-color: #8f8e8e;
    border-radius: 1em;
    padding: 1.1em;
    background-color: #fff;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.counter-text{
    padding: 0.7em;
    color:#fff;
    background-color:rgba(0,136,169,1);
}

.counter{
    padding: 0.7em;
    color:#000;
    background-color: #00ff00;
}

.form-data{    
    display: flex;
  justify-content: center;
}

.form-data-entry{   
    margin: 0 auto;
}

.form-data-entry select {
  width: 100%;
  clear: both;
}

.form-data-entry input {
  width: 100%;
  clear: both;
}

/* general classes */
</style>



<script type = "text/javascript" >
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>



</html>